@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: rgba(236, 236, 233, 0.788);
}

.wrapper {
    position : fixed;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    width: 30rem;
    height: 82%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* media query for mobile */
@media (max-width: 640px) {
    *:root {
        font-size: 72.5%;
    }
    .wrapper {
        width: 98%;
        height: 100%;

    }

}